.container {
  border-radius: 5px;
  max-width: 900px;
  height: 500px;
  margin: auto;
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
}

a.footer {
  color: gray;
  text-decoration: none;
}
