.App {
  width: 320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

footer {
  font-size: 12px;
  padding: 4px;
  margin-left: 23px;
}

footer :hover {
  text-decoration: none;
}
