.wewer {
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
}

.column {
  float: left;
}
.left {
  width: 65%;
}

.right {
  width: 33.3%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.mainCity {
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  color: white;
  text-shadow: 3px 3px 7px black;
}

.units {
  display: block;
  position: absolute;
  margin-top: 345px;
  margin-left: 510px;
  font-size: 25px;
  color: white;
  text-shadow: 3px 3px 7px black;
}
.temperature {
  float: right;
  display: block;
  position: absolute;
  margin-top: 312px;
  margin-left: 430px;
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px 7px black;
}
.time {
  display: block;
  position: absolute;
  margin-top: 350px;
  margin-left: 60px;
  font-size: 20px;
  text-shadow: 3px 3px 5px black;
  color: white;
}

ul.Cities {
  list-style-type: none;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 14px;
  border-top-left-radius: 20px;
  text-shadow: 3px 3px 7px black;
}
.City:hover {
  text-shadow: 5px 4px 4px black;
}
li.City {
  display: inline;
  padding: 20px;
}
a.unit {
  text-decoration: none;
  color: white;
}
a.unit :hover {
  text-decoration: none;
}
a.city {
  color: white;
  text-decoration: none;
}
a.city :hover {
  color: white;
  text-decoration: none;
}
hr {
  width: 250px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
h4 {
  margin-left: 20px;
}
.City {
  display: inline;
  text-decoration: none;
  margin: 10px;
}

i.wi {
  display: block;
  padding: 40px;
  margin: 0 auto;
  color: white;
  font-size: 50px;
}

.Searching {
  display: flex;
  max-width: 100%;
  margin-left: 0px;
}

.EnterACity {
  display: block;
  border-radius: 20px;
  border-bottom: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 190px;
  height: 32px;
  padding: 3px;
  font-size: 15px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.EnterACity:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
.EnterACity::placeholder {
  color: white;
  opacity: 1;
  background-color: transparent;
}
input,
select,
.SubmitButton {
  color: white;
  background-color: transparent;
}
.SubmitButton {
  border-radius: 20px;
  font-size: 16px;
  width: 70px;
  height: 32px;
  margin-right: 2px;
  border: transparent;
  background-color: transparent;
  transition: 0.3s ease-in;
}
.SubmitButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.Forms {
  display: inline-block;
}
.col-9 {
  margin: 0 auto;
}
.col-4 {
  margin-left: -25px;
}
ul.specifications {
  list-style-type: none;
  text-align: center;
  padding: 20px;
  margin: 0;
  margin-top: 20px;
}

footer {
  display: block;
  position: fixed;
  margin-left: 20px;
}
