.wewer {
  position: absolute;
  background-size: cover;
  width: 100%;
  background-position: bottom;
  border-radius: 20px;
}

.column {
  float: left;
}
.left {
  width: 65%;
}

.right {
  position: relative;
  width: 33.3%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.mainCity {
  display: block;
  position: relative;
  float: right;
  right: 15px;
  top: 30px;
  color: white;
  text-shadow: 3px 3px 7px black;
}

.WeatherTemperature {
  position: relative;
  display: block;
  float: right;
  top: 300px;
  left: 235px;
}
.temperature {
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px 7px black;
}

.units {
  position: relative;
  font-size: 30px;
  left: 8px;
  color: white;
  text-shadow: 3px 3px 7px black;
}

.time {
  display: block;
  position: relative;
  top: 345px;
  left: 40px;
  font-size: 20px;
  text-shadow: 3px 3px 5px black;
  color: white;
}

hr {
  width: 250px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
h4 {
  left: 20px;
}
.City {
  display: inline;
  text-decoration: none;
  padding: 10px;
}

i.wi.icon {
  display: block;
  padding: 40px;
  margin: 0 auto;
  color: white;
  font-size: 50px;
}

.Searching {
  display: inline-block;
  display: flex;
  max-width: 100%;
}

.EnterACity {
  position: relative;
  border-radius: 20px;
  border-bottom: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 190px;
  height: 32px;
  padding: 3px;
  font-size: 15px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.EnterACity:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
.EnterACity::placeholder {
  color: white;
  opacity: 1;
  background-color: transparent;
}
input,
select,
.SubmitButton {
  color: white;
  background-color: transparent;
}
.SubmitButton {
  border-radius: 20px;
  font-size: 16px;
  width: 70px;
  height: 32px;
  border: transparent;
  background-color: transparent;
  transition: 0.3s ease-in;
}
.SubmitButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.col-9 {
  margin: 0 auto;
}
.col-4 {
  left: -25px;
}
ul.specifications {
  list-style-type: none;
  text-align: center;
  padding: 20px;
  padding-top: 29px;
  top: 20px;
}
