.WeatherForecast {
  display: block;
  margin-top: 400px;
  text-align: center;
  color: white;
  border-bottom-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}
.Wf {
  margin-left: 50px;
  margin-right: 40px;
}

.col.forecast {
  padding-bottom: 10px;
  padding-top: 10px;
}
i.wi.forecastIcon {
  font-size: 22px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.forecast-temp {
  font-size: 15px;
}

.forecast-temp-min {
  color: lightgrey;
}
