:root {
  --text-color: white;
  --text-shadow: 2px 2px 4px black;
}

.Weather {
  text-align: center;
}

.pic {
  position: relative;
  width: 320px;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 20%);
}
.swirl {
  background-image: linear-gradient(rgba(247, 247, 247, 0), rgba(0, 0, 0, 1));
  width: 320px;
  height: 600px;
  border-radius: 20px;
}

.date {
  font-size: 16px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}
.mainCity {
  color: var(--text-color);
  font-size: 28px;
  padding-top: 20px;
  text-shadow: var(--text-shadow);
}
.icon {
  font-size: 40px;
  padding: 20px;
  color: var(--text-color);
  text-shadow: 1px 1px 15px black;
}
.text-capitalize {
  font-size: 16px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  font-weight: 600;
}
hr {
  border-top: 1pt solid white;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-9 {
  padding-right: 0;
  padding-left: 0;
}
.EnterACity {
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid darkgrey;
}
::placeholder {
  color: lightgray;
  font-size: 14px;
}
.col-3 {
  padding: 0;
  margin-left: 7px;
}
.SubmitButton {
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
}
:hover.SubmitButton {
  background-color: rgba(0, 0, 0, 0.2);
}
ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
}
li {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  font-size: 14px;
}
hr.specifics {
  margin: 7px;
}
