.WeatherForecast {
  display: inline-block;
  position: relative;
  width: 97.6%;
  height: 95px;
  top: 290px;
  left: 15px;
  text-align: center;
  color: white;
  border-bottom-left-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.forecastD {
  position: relative;
  margin: 0 auto;
}
.Wf {
  position: relative;
  left: 8px;
}

.col.forecast {
  position: relative;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
i.wi.forecastIcon {
  font-size: 22px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.forecast-temp {
  font-size: 15px;
}

.forecast-temp-min {
  color: lightgrey;
}
